<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/styles.css" />
		<title><%= subject%></title>
	</head>
	<body>
		<header><%- include('../partials/_nav') %></header>
		<main>
			<div class="card">
				<a href="#">
					<img
						src="/images/purple-abstract.jpg"
						alt="purple-abstract"
					/>
					<p>
						TEACHER HOME <br />Lorem ipsum dolor sit amet
						consectetur adipisicing elit. Dolorum, ut.
					</p>
				</a>
			</div>
		</main>
		<footer><%- include('../partials/_footer') %></footer>
	</body>
</html>
