<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/styles.css" />
		<title><%= subject %></title>
	</head>
	<body>
		<header><%- include('../partials/_nav') %></header>
		<main>
			<div class="form">
				<h1>Change Role</h1>
				<% if (typeof warningMessage !== 'undefined') { %>
				<p class="sign-error"><%= warningMessage %></p>
				<% } %>
				<form action="role" method="post">
					<div class="form-input">
						<label for="userRole">User Role:</label>
						<select id="userRole" name="userRole">
							<option value="Student">Student</option>
							<option value="Teacher">Teacher</option>
						</select>
					</div>

					<button type="submit">Edit Role</button>
				</form>
			</div>
		</main>
		<footer><%- include('../partials/_footer') %></footer>
	</body>
</html>
